<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>q11</string>
			<string>a11</string>
		</array>
		<array>
			<string>q12</string>
			<string>a12</string>
		</array>
		<array>
			<string>q13</string>
			<string>a13</string>
		</array>
	</array>
	<array>
		<array>
			<string>q21</string>
			<string>a21</string>
		</array>
		<array>
			<string>q22</string>
			<string>a22</string>
		</array>
	</array>
</array>
</plist>
