<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beaver</key>
	<dict>
		<key>imageInfo</key>
		<string>beaver (tails level)</string>
		<key>authorName</key>
		<string>Sam Howzit</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/aloha75/</string>
		<key>photoTitle</key>
		<string>Beaver</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/aloha75/8442001085/</string>
	</dict>
	<key>beaver_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>beaver tail</string>
		<key>authorName</key>
		<string>Michelle Tribe (Greencolander)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/greencolander/</string>
		<key>photoTitle</key>
		<string>beaver tail</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/greencolander/2447667082/</string>
	</dict>
	<key>squirrel</key>
	<dict>
		<key>imageInfo</key>
		<string>squirrel (tails level)</string>
		<key>authorName</key>
		<string>Peter Trimming (Peter G Trimming)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/peter-trimming/</string>
		<key>photoTitle</key>
		<string>&apos;Mrs Squibbit&apos;</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/peter-trimming/6472320621/</string>
	</dict>
	<key>squirrel_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>squirrel tail</string>
		<key>authorName</key>
		<string>Peter Trimming (Peter G Trimming)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/peter-trimming/</string>
		<key>photoTitle</key>
		<string>First of the day</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/peter-trimming/8565275649</string>
	</dict>
	<key>swallow</key>
	<dict>
		<key>imageInfo</key>
		<string>swallow (tails level)</string>
		<key>authorName</key>
		<string>Adam Jenkins (Easterbilby)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/37796451@N00/</string>
		<key>photoTitle</key>
		<string>Welcome Swallow</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/37796451@N00/4525983602/</string>
	</dict>
	<key>swallow_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>swallow tail</string>
		<key>authorName</key>
		<string>Dawn Ellner (*~Dawn~*)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/naturesdawn/</string>
		<key>photoTitle</key>
		<string>Barn Swallow</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/naturesdawn/1245991339/</string>
	</dict>
	<key>peacock</key>
	<dict>
		<key>imageInfo</key>
		<string>peacock</string>
		<key>authorName</key>
		<string>David Herrera (dherrera_96)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/dph1110/</string>
		<key>photoTitle</key>
		<string>Peacock, Chateau Ste. Michelle Winery</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/dph1110/472754026/</string>
	</dict>
	<key>peacock_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>peacock tail</string>
		<key>authorName</key>
		<string>Tony Fischer (Tony Fischer Photography)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/tonythemisfit/</string>
		<key>photoTitle</key>
		<string>Peacock Tail, Long View (1 of 4)</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/tonythemisfit/3318816038/</string>
	</dict>
	<key>whale</key>
	<dict>
		<key>imageInfo</key>
		<string>whale</string>
		<key>authorName</key>
		<string>Rojer</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/rojer/</string>
		<key>photoTitle</key>
		<string>100_6174 Shamu - The Orca DOLPHIN</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/rojer/4884823771/</string>
	</dict>
	<key>whale_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>whale tail</string>
		<key>authorName</key>
		<string>Isaac Kohane (kohane)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/52786697@N00/</string>
		<key>photoTitle</key>
		<string>Whales</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/52786697@N00/5159560621/</string>
	</dict>
	<key>rabbit</key>
	<dict>
		<key>imageInfo</key>
		<string>rabbit (tails level)</string>
		<key>authorName</key>
		<string>Sequoia Hughes</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/sempivirens/</string>
		<key>photoTitle</key>
		<string>easter bunny</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/sempivirens/5648175541/</string>
	</dict>
	<key>rabbit_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>rabbit tail</string>
		<key>authorName</key>
		<string>Jannes Pockele (jpockele)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/jpockele/</string>
		<key>photoTitle</key>
		<string>What a cute white tail</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/jpockele/445283655/</string>
	</dict>
	<key>crocodile</key>
	<dict>
		<key>imageInfo</key>
		<string>crocodile</string>
		<key>authorName</key>
		<string>Lingeswaran Marimuthukumar (Mali)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/lingeswaran/</string>
		<key>photoTitle</key>
		<string>Crocodile Bank</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/lingeswaran/7479528302/</string>
	</dict>
	<key>crocodile_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>crocodile tail</string>
		<key>authorName</key>
		<string>Lingeswaran Marimuthukumar (Mali)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/lingeswaran/</string>
		<key>photoTitle</key>
		<string>Crocodile Bank</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/lingeswaran/7479528302/</string>
	</dict>
	<key>chameleon</key>
	<dict>
		<key>imageInfo</key>
		<string>chameleon</string>
		<key>authorName</key>
		<string>Stuart Mckiggan (Stuart McK)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/94066540@N08/</string>
		<key>photoTitle</key>
		<string>Rangogo</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/94066540@N08/8552451127/</string>
	</dict>
	<key>chameleon_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>chameleon tail</string>
		<key>authorName</key>
		<string>Frank Vassen (Frank.Vassen)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/42244964@N03/</string>
		<key>photoTitle</key>
		<string>Male Labord&apos;s Chameleon (Furcifer labordi), Kirindy Forest, Madagascar</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/42244964@N03/4325982802</string>
	</dict>
	<key>raccoon</key>
	<dict>
		<key>imageInfo</key>
		<string>raccoon</string>
		<key>authorName</key>
		<string>GoToVan</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/gotovan/</string>
		<key>photoTitle</key>
		<string>Stanley Park - Raccoon</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/gotovan/4468496193/</string>
	</dict>
	<key>raccoon_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>raccoon tail</string>
		<key>authorName</key>
		<string>Michael Gil (MSVG)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/msvg/</string>
		<key>photoTitle</key>
		<string>Road-killed Raccoon</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/msvg/4528894193/</string>
	</dict>
	<key>horse</key>
	<dict>
		<key>imageInfo</key>
		<string>horse (tails level)</string>
		<key>authorName</key>
		<string>Marco Bellucci</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/marcobellucci/</string>
		<key>photoTitle</key>
		<string>Wild horses</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/marcobellucci/8299893113/</string>
	</dict>
	<key>horse_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>horse tail</string>
		<key>authorName</key>
		<string>Gwendolyn Sams (missrightwing)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/96717897@N00/</string>
		<key>photoTitle</key>
		<string>23</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/96717897@N00/2626045894/</string>
	</dict>
	<key>stingray</key>
	<dict>
		<key>imageInfo</key>
		<string>stingray</string>
		<key>authorName</key>
		<string>Arend (Arend Vermazeren)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/vermazeren/</string>
		<key>photoTitle</key>
		<string>Luipaardstaartrog - Honeycomb Stingray</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/vermazeren/5977878600/</string>
	</dict>
	<key>stingray_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>stingray tail</string>
		<key>authorName</key>
		<string>Schristia</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/schristia/</string>
		<key>photoTitle</key>
		<string>Fresh Water Stingray (IMG_6692R)</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/schristia/4003803554/</string>
	</dict>
	<key>kangaroo</key>
	<dict>
		<key>imageInfo</key>
		<string>kangaroo</string>
		<key>authorName</key>
		<string>Scott Calleja (Scott_Calleja)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/scottcalleja/</string>
		<key>photoTitle</key>
		<string>Kangaroo</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/scottcalleja/6843888853/</string>
	</dict>
	<key>kangaroo_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>kangaroo tail</string>
		<key>authorName</key>
		<string>chadh</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/chadh-flickr/</string>
		<key>photoTitle</key>
		<string>kangaroo</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/chadh-flickr/468146901/</string>
	</dict>
	<key>armadillo</key>
	<dict>
		<key>imageInfo</key>
		<string>armadillo</string>
		<key>authorName</key>
		<string>db rolenrock</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/rolenrock/</string>
		<key>photoTitle</key>
		<string>Armadillo</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/rolenrock/8560834728/</string>
	</dict>
	<key>armadillo_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>armadillo tail</string>
		<key>authorName</key>
		<string>db rolenrock</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/rolenrock/</string>
		<key>photoTitle</key>
		<string>Armadillo</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/rolenrock/8560834728/</string>
	</dict>
	<key>seahorse</key>
	<dict>
		<key>imageInfo</key>
		<string>seahorse</string>
		<key>authorName</key>
		<string>Theodore Scott</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/theodorescott/</string>
		<key>photoTitle</key>
		<string>Moody Seahorse</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/theodorescott/5910537515/</string>
	</dict>
	<key>seahorse_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>seahorse tail</string>
		<key>authorName</key>
		<string>shellac</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/pldms/</string>
		<key>photoTitle</key>
		<string>Seahorse</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/pldms/3016990059/</string>
	</dict>
	<key>rooster</key>
	<dict>
		<key>imageInfo</key>
		<string>rooster</string>
		<key>authorName</key>
		<string>David (longhorndave)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/davidw/</string>
		<key>photoTitle</key>
		<string>Luckenbach Rooster</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/davidw/3484865551/</string>
	</dict>
	<key>rooster_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>rooster tail</string>
		<key>authorName</key>
		<string>Catie Rhodes</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/catierhodes/</string>
		<key>photoTitle</key>
		<string>Auburn Rooster</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/catierhodes/7625030836/</string>
	</dict>
	<key>turkey</key>
	<dict>
		<key>imageInfo</key>
		<string>turkey</string>
		<key>authorName</key>
		<string>rickpilot_2000</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/26531284@N02/</string>
		<key>photoTitle</key>
		<string>Large turkey at Jenness Farm</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/26531284@N02/6789856363/</string>
	</dict>
	<key>turkey_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>turkay tail</string>
		<key>authorName</key>
		<string>Peter Corbett (ptc24)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/ptc24/</string>
		<key>photoTitle</key>
		<string>Turkey</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/ptc24/7915763690/</string>
	</dict>
	<key>skunk</key>
	<dict>
		<key>imageInfo</key>
		<string>skunk</string>
		<key>authorName</key>
		<string>Out at Bob&apos;s</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/outatbobs/</string>
		<key>photoTitle</key>
		<string>Little Scrapper</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/outatbobs/3760173523/</string>
	</dict>
	<key>skunk_tail</key>
	<dict>
		<key>imageInfo</key>
		<string>skunk tail</string>
		<key>authorName</key>
		<string>Kathrin Rieger (kathrin_rieger)</string>
		<key>authorUrl</key>
		<string>http://www.flickr.com/photos/craighnadun/</string>
		<key>photoTitle</key>
		<string>Stinktier</string>
		<key>photoUrl</key>
		<string>http://www.flickr.com/photos/craighnadun/5028773021/</string>
	</dict>
	<key>New item - 35</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 36</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 37</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 38</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 39</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 40</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 41</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 42</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 43</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 44</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 45</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 46</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 47</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 48</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 49</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 50</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 51</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 52</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 53</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 54</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 55</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 56</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 57</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 2</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 3</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 4</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 5</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 6</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 7</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 8</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 9</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 10</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 11</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 12</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 13</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 14</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 15</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 16</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 17</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 18</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 19</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 20</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 21</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 22</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 23</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 24</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 25</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 26</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 27</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 28</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 29</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 30</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 31</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 32</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 33</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 34</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 35</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 36</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 37</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 38</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 39</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 40</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 41</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 42</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 43</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 44</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 45</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 46</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 47</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 48</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 49</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 50</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 51</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 52</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 53</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 54</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 55</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 56</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 57</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 58</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
	<key>New item - 58 - 59</key>
	<dict>
		<key>imageInfo</key>
		<string></string>
		<key>authorName</key>
		<string></string>
		<key>authorUrl</key>
		<string></string>
		<key>photoTitle</key>
		<string></string>
		<key>photoUrl</key>
		<string></string>
	</dict>
</dict>
</plist>
