<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>armadillo</string>
			<string>armadillo_tail</string>
		</array>
		<array>
			<string>beaver</string>
			<string>beaver_tail</string>
		</array>
		<array>
			<string>chameleon</string>
			<string>chameleon_tail</string>
		</array>
		<array>
			<string>crocodile</string>
			<string>crocodile_tail</string>
		</array>
		<array>
			<string>dove</string>
			<string>dove_tail</string>
		</array>
		<array>
			<string>fox</string>
			<string>fox_tail</string>
		</array>
		<array>
			<string>horse</string>
			<string>horse_tail</string>
		</array>
		<array>
			<string>kangaroo</string>
			<string>kangaroo_tail</string>
		</array>
		<array>
			<string>peacock</string>
			<string>peacock_tail</string>
		</array>
		<array>
			<string>rabbit</string>
			<string>rabbit_tail</string>
		</array>
		<array>
			<string>racoon</string>
			<string>racoon_tail</string>
		</array>
		<array>
			<string>rooster</string>
			<string>rooster_tail</string>
		</array>
		<array>
			<string>seahorse</string>
			<string>seahorse_tail</string>
		</array>
		<array>
			<string>seal</string>
			<string>seal_tail</string>
		</array>
		<array>
			<string>skunk</string>
			<string>skunk_tail</string>
		</array>
		<array>
			<string>squirrel</string>
			<string>squirrel_tail</string>
		</array>
		<array>
			<string>stingray</string>
			<string>stingray_tail</string>
		</array>
		<array>
			<string>swallow</string>
			<string>swallow_tail</string>
		</array>
		<array>
			<string>turkey</string>
			<string>turkey_tail</string>
		</array>
		<array>
			<string>whale</string>
			<string>whale_tail</string>
		</array>
	</array>
	<array>
		<array>
			<string>ant_eater</string>
			<string>ant</string>
		</array>
		<array>
			<string>bear</string>
			<string>honey</string>
		</array>
		<array>
			<string>boar</string>
			<string>acorns</string>
		</array>
		<array>
			<string>cat</string>
			<string>milk</string>
		</array>
		<array>
			<string>caterpillar</string>
			<string>leaves</string>
		</array>
		<array>
			<string>cow</string>
			<string>grass</string>
		</array>
		<array>
			<string>dog</string>
			<string>bone</string>
		</array>
		<array>
			<string>frog</string>
			<string>fly</string>
		</array>
		<array>
			<string>hedgehog</string>
			<string>apple</string>
		</array>
		<array>
			<string>horse_2</string>
			<string>hay</string>
		</array>
		<array>
			<string>lion</string>
			<string>meat</string>
		</array>
		<array>
			<string>monkey</string>
			<string>banana</string>
		</array>
		<array>
			<string>mouse</string>
			<string>cheese</string>
		</array>
		<array>
			<string>pelican</string>
			<string>fish</string>
		</array>
		<array>
			<string>rabbit_2</string>
			<string>carrot</string>
		</array>
		<array>
			<string>rooster_2</string>
			<string>wheat</string>
		</array>
		<array>
			<string>squirrel_2</string>
			<string>nuts</string>
		</array>
		<array>
			<string>stork</string>
			<string>frog_small</string>
		</array>
	</array>
	<array>
		<array>
			<string>ant_2</string>
			<string>anthill</string>
		</array>
		<array>
			<string>bat</string>
			<string>cave</string>
		</array>
		<array>
			<string>beaver_2</string>
			<string>beaver_dam</string>
		</array>
		<array>
			<string>bee</string>
			<string>bee_hive</string>
		</array>
		<array>
			<string>camel</string>
			<string>desert</string>
		</array>
		<array>
			<string>crab</string>
			<string>beach</string>
		</array>
		<array>
			<string>deer</string>
			<string>forest</string>
		</array>
		<array>
			<string>dog_2</string>
			<string>doghouse</string>
		</array>
		<array>
			<string>koala</string>
			<string>eucalyptus</string>
		</array>
		<array>
			<string>mole</string>
			<string>mole_hill</string>
		</array>
		<array>
			<string>mountain_goat</string>
			<string>rocks</string>
		</array>
		<array>
			<string>mouse_2</string>
			<string>mouse_hole</string>
		</array>
		<array>
			<string>owl</string>
			<string>hollow</string>
		</array>
		<array>
			<string>pig</string>
			<string>farm</string>
		</array>
		<array>
			<string>polar_bear</string>
			<string>ice</string>
		</array>
		<array>
			<string>rabbit_3</string>
			<string>rabbit_hole</string>
		</array>
		<array>
			<string>rooster_3</string>
			<string>hen_house</string>
		</array>
		<array>
			<string>stork_2</string>
			<string>stork_nest</string>
		</array>
		<array>
			<string>swallow_2</string>
			<string>swallow_nest</string>
		</array>
		<array>
			<string>swan</string>
			<string>lake</string>
		</array>
	</array>
</array>
</plist>
