<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>questionImageName</key>
			<string>armadillo</string>
			<key>answerImageName</key>
			<string>armadillo_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>beaver</string>
			<key>answerImageName</key>
			<string>beaver_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>chameleon</string>
			<key>answerImageName</key>
			<string>chameleon_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>crocodile</string>
			<key>answerImageName</key>
			<string>crocodile_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>dove</string>
			<key>answerImageName</key>
			<string>dove_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>fox</string>
			<key>answerImageName</key>
			<string>fox_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>horse</string>
			<key>answerImageName</key>
			<string>horse_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>kangaroo</string>
			<key>answerImageName</key>
			<string>kangaroo_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>peacock</string>
			<key>answerImageName</key>
			<string>peacock_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>rabbit</string>
			<key>answerImageName</key>
			<string>rabbit_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>racoon</string>
			<key>answerImageName</key>
			<string>racoon_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>rooster</string>
			<key>answerImageName</key>
			<string>rooster_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>seahorse</string>
			<key>answerImageName</key>
			<string>seahorse_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>seal</string>
			<key>answerImageName</key>
			<string>seal_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>skunk</string>
			<key>answerImageName</key>
			<string>skunk_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>squirrel</string>
			<key>answerImageName</key>
			<string>squirrel_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>stingray</string>
			<key>answerImageName</key>
			<string>stingray_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>swallow</string>
			<key>answerImageName</key>
			<string>swallow_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>turkey</string>
			<key>answerImageName</key>
			<string>turkey_tail</string>
		</dict>
		<dict>
			<key>questionImageName</key>
			<string>whale</string>
			<key>answerImageName</key>
			<string>whale_tail</string>
		</dict>
	</array>
</array>
</plist>
